<header class="container">
<!--   <h1>Welcome to Music Wall, <%= session["user_obj"].username if session["user_obj"] %></h1> -->
<!--   <% if session[:flash] %>
    <div class="error_message">
      <%= session[:flash] %>
    </div>
  <% end %>


  <% if session["user_obj"]%>
    <p><a href="/logout" class="btn btn-primary btn-xs">Log out</a></p>
  <% else %>
    <a href="/songs/login" class="btn btn-primary">login</a> &nbsp &nbsp
    <a href="/songs/new_user" class="btn btn-default btn-xs">Sign up</a>
  <% end %> -->
</header>

<section class="container song_list">

  <a class="btn btn-primary" href="/songs/new" role="button">Add new song</a>
  
  <% @songs.each do |song| %>
    <div>
      <a class="inline" href="/song_view/<%= song.id %>" >
        <div class="song">
          <p> Upvoted : <%= song.votes.size %> </p>
          Title : <%= song.title %>
          by : <%= song.author %>
          <div>
            link : <%= song.url %>
          </div>
          <% if song.user %>
            Posted by: <%= song.user.username %>
          <% end %>
        </div>
      </a>
      <% if session["user_obj"] %>
        <% if song.like?(session["user_obj"]) %>
          <a class="inline" href="">UNLIKE</a>
        <% else %>
          <a class="inline" href="/vote/<%= song.id %>">LIKE</a>
        <% end %>
      <% end %>
    <% end %>
  </div>

</section>